<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="icon" th:href="@{/ViewPost/Image/nav/home.svg}" type="image/x-icon">
    <link rel="stylesheet" href="../static/ViewPost/style/mainAccount.css" th:href="@{/ViewPost/style/mainAccount.css}">
    <link rel="stylesheet" href="../static/ViewPost/style/header.css" th:href="@{/ViewPost/style/header.css}">
    <link rel="stylesheet" href="../static/ViewPost/style/footer.css" th:href="@{/ViewPost/style/footer.css}">
</head>

<body>
<script type="module" th:src="@{/ViewPost/script/tokenController.js}"></script>

<header th:insert="/layout/Example :: header"></header>

<main>
    <div class="myInfo">
        <span>Особисті данні</span>
        <div class="formUser">
            <div class="infoUser">
                <div class="accountPhoto">
                    <img id="accountPhoto" th:src="@{/ViewPost/Image/nav/profile-icon.svg}">
                    <div class="input__wrapper">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" name="file" id="input__file" class="input input__file" multiple>
                        </form>
                        <label for="input__file" class="input__file-button">
                            <span class="input__file-icon-wrapper"><img class="input__file-icon"
                                                                        th:src="@{/ViewPost/Image/nav/download-alt.svg}"
                                                                        alt="Выбрать файл" width="25"></span>
                        </label>
                    </div>
                </div>

                <div class="name">
                    <span>Імя</span>
                    <input id="firstName" type="text">

                    <span>Прізвище</span>
                    <input id="lastName" type="text">

                    <span>Телефон</span>
                    <input id="number" type="text">
                </div>
            </div>
            <div class="infoUser">
                <span>E-mail</span>
                <span>Місто</span>
            </div>
            <div class="infoUser">
                <input id="email" type="text">
                <input id="city" type="text">
            </div>
            <div class="submit">
                <button id="editUser">Змінити</button>
                <button id="exit">Вийти</button>
            </div>
        </div>
    </div>
    <div class="myPost">
        <span>Мої Оголошення</span>
        <ul id='allPost'>
            <!--                 Невидаляти для прикладу-->
            <!--                <li>-->
            <!--                    <img th:src="@{/ViewPost/Image/nav/mobile-android.svg}" src="../static/DBImage/User/2 2g p.g(.()...p 2p22 (1).jpg" alt="">-->
            <!--                    <div class="text">-->
            <!--                        <h2>Назва</h2>-->
            <!--                        <div class="wrapperInfoPost">-->
            <!--                            <h3>Категорія: Авто</h3>-->
            <!--                            <h3>Опис: Loremipsum dolorsi tametcon sectetura dipisici ngelit. Placeatn emop erspici atisunde?</h3>-->
            <!--                            <h3>Ціна: 1544грн</h3>-->
            <!--                            <h5>2021-21-12 17:56</h5>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="column">-->
            <!--                        <button>Редагувати</button>-->
            <!--                        <button>Видалити</button>-->
            <!--                    </div>-->
            <!--                </li>-->
        </ul>
    </div>
</main>

<footer th:insert="/layout/Example :: footer"></footer>

<script type="module" src="../static/ViewPost/script/account.js" th:src="@{/ViewPost/script/account.js}"></script>

</body>

</html>