<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" th:href="@{/ViewPost/Image/nav/home-alt.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/ViewPost/style/main.css}">
    <link rel="stylesheet" th:href="@{/ViewPost/style/header.css}">
    <link rel="stylesheet" th:href="@{/ViewPost/style/footer.css}">     
</head>
<body>

<header th:insert="/layout/Example :: header"></header>

<main>
        <!-- <div class="galery">
            <img src="./Image/nav/1785 1.png" alt="">
        </div> -->
        <div class="allPost">
            <!-- Невидаляти елемент для прикладу -->
<!--             <div  class="post">-->
<!--                <div  class="hoverMenu">-->
<!--                    <div class="click"></div>-->
<!--                    <img class="post_img" th:src="@{/ViewPost/Image/nav/mobile-android.svg}" alt="photo">-->
<!--                    <div class="like"><img th:src="@{/ViewPost/Image/nav/wishlist-icon.svg}" alt="photo"></div>-->
<!--                    <div class="postInfo">-->
<!--                        <h2>Крісло кімнатне</h2>-->
<!--                        <h2 class="info">Львів</h2>-->
<!--                        <h2 class="info">Сьогодні, 11:34</h2>-->
<!--                        <h2 class="price">12 3345 $</h2>-->
<!--                    </div>-->
<!--                    <div class="action">-->
<!--                        <div class="wrapperAutor">-->
<!--                            <h2>Автор: </h2>-->
<!--                            <h2> Roboto</h2>-->
<!--                        </div>-->
<!--                        <div class="wrapperAutor">-->
<!--                            <h2>Категорія: </h2>-->
<!--                            <h2> Дім і Сад</h2>-->
<!--                        </div>-->
<!--                        <div class="wrapperAutor">-->
<!--                            <h2>Перегляди: </h2>-->
<!--                            <h2> 2345</h2>-->
<!--                        </div>-->
<!--                        <div class="wrapperButton">-->
<!--                            <button>Написати</button>-->
<!--                            <button>Позвонити</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        
        </div>
    </main>

<footer th:insert="/layout/Example :: footer"></footer>

    <script type="module" src="../static/ViewPost/script/index.js" th:src="@{/ViewPost/script/index.js}"></script>
</body>

</html>