<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" th:href="@{/ViewPost/Image/nav/unlock-alt.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/ViewPost/style/header.css}" href="../static/ViewPost/style/header.css">
    <link rel="stylesheet" th:href="@{/ViewPost/style/mainLogin.css}" href="../static/ViewPost/style/mainLogin.css">
    <link rel="stylesheet"  th:href="@{/ViewPost/style/footer.css}" href="../static/ViewPost/style/footer.css">
</head>

<body>

    <header th:insert="/layout/Example :: header"></header>

    <main>
        <div class="wrapperLogin">
            <input type="text" placeholder="Логін" id="login">
            <input type="password" placeholder="Пароль" id="password">
            <button id="submit">Вхід</button>
        </div>
    </main>

    <footer th:insert="/layout/Example :: footer"></footer>

    <script type="module" th:src="@{/ViewPost/script/login.js}" src="../static/ViewPost/script/login.js"></script>
</body>

</html>