<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="icon" th:href="@{/ViewPost/Image/nav/home.svg}" type="image/x-icon">
    <link rel="stylesheet" href="../static/ViewPost/style/mainAccount.css" th:href="@{/ViewPost/style/mainPost.css}">
    <link rel="stylesheet" href="../static/ViewPost/style/header.css" th:href="@{/ViewPost/style/header.css}">
    <link rel="stylesheet" href="../static/ViewPost/style/footer.css" th:href="@{/ViewPost/style/footer.css}">
</head>

<body>
<script type="module" th:src="@{/ViewPost/script/tokenController.js}"></script>

<header th:insert="/layout/Example :: header"></header>

<main>

    <div class="wrapperPost">
        <div class="wrapperImages">
            <img class="firstImage" th:src="@{/ViewPost/Image/nav/mobile-android.svg}">
            <div class="galleryImages">
                <img th:src="@{/ViewPost/Image/nav/camera.svg}">
                <img th:src="@{/ViewPost/Image/nav/drill.svg}">
                <img th:src="@{/ViewPost/Image/nav/heart-alt.svg}">
                <img th:src="@{/ViewPost/Image/nav/linux.svg}">
                <img th:src="@{/ViewPost/Image/nav/home.svg}">
            </div>
        </div>
        <div class="wrapperInfo">
            <h2 id="name"></h2>
            <h6 id="category"></h6>
            <div class="wrapperPriceButton">
                <h2 id="price"></h2>
                <button>Позвонити</button>
            </div>
            <h6 id="date"></h6>
            <p id="description"></p>
        </div>
    </div>

    <div class="wrapperCommentsCharacteristics">
        <div class="wrapperButton">
            <button id="characteristics">Характеристики</button>
            <button id="comment">Коментарі</button>
        </div>
<!--        <div class="wrapperComments">-->
<!--            <div class="comments">-->
<!--                <div class="comment">-->
<!--                    <img th:src="@{/ViewPost/Image/nav/profile-icon.svg}">-->
<!--                    <div>-->
<!--                        <h4>UserName</h4>-->
<!--                        <p >Лаконичные линии и простые формы,</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="wrapperFormComment">-->
<!--                <textarea id="commentText" placeholder="Введіть коментар"></textarea>-->
<!--                <button id="send">Надіслати</button>-->
<!--            </div>-->
<!--        </div>-->


        <!--        <div class="characteristics">-->
        <!--            <ul class="nameCharacteristics">-->
        <!--                <li>Ширина</li>-->
        <!--                <li>Вага</li>-->
        <!--                <li>Колір</li>-->
        <!--                <li>Марка</li>-->
        <!--                <li>Рік випуску</li>-->
        <!--            </ul>-->
        <!--            <ul class="valueCharacteristics">-->
        <!--                <li>1m</li>-->
        <!--                <li>1.35kg</li>-->
        <!--                <li>Green</li>-->
        <!--                <li>house</li>-->
        <!--                <li>2005year</li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</main>

<footer th:insert="/layout/Example :: footer"></footer>

<script type="module" th:src="@{/ViewPost/script/post.js}"></script>

</body>
</html>